
.splashImage{
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	/*background-color: rgb(246,246,246);*/
	width: 80%;
}

.redBG{
	background: url(../images/cherry1.jpg) no-repeat center center fixed;
    background-size:cover;
    color: white;
    /*filter:blur(20px);*/
}

.topMargin{
	margin-top: 10px;
}

.bottomMargin{
	margin-bottom: 10px;
}
strong{
	text-align: center;
}

.ui-page{
	/*background: url('../images/gray_jean.png');
    background-repeat:repeat;
    background-position:center center;
    background-attachment:scroll;*/
}

#welcomeLogo{
	width:100px;
	height:100px;
}

.homeBG{
	background-color: white;
}

.left{
	text-align: left;
}

.center{
	text-align: center;
}

.profilePic{
	/*margin-top: 10px;*/
	border-radius: 50%;
	/*padding-right: 3px;*/
	width:100px;
	height:100px;
}

.profilePicSmall{
	margin-top: 10px;
	width:50px;
	height:50px;
}

.imageWrapper{
	margin-top: 15px;
	display: inline-block;
	border-radius: 50%;
}

.fullWidth{
	width:100%;
}

.pgImage{
	width:90%;
	height: 90%;
}

.rightGap{
	/*margin-right: 5px;*/
}

.otherMsg{
	clear: right;
	display: inline-block;
}

.floatRight{
	float: right;
}

.myMsg{
	clear: both;
}

.headerText{
	font-weight: lighter;
}

.block{
	margin-left: -2px;
	margin-bottom: 15px;
	background-color: white;
	padding: 3px;
	box-shadow: inset 0 0 6px #E8E8E8;
	box-shadow: 0 0 20px #6E6A6C;
	width:100%;
}

.block > div{
	padding-top: 12px;
}

.left{
	text-align: left;
	padding-left: 10px;
	word-wrap: break-word;
}

.right{
	text-align: right;
	padding-right: 10px;
	word-wrap: break-word;
}

.bottomPadding{
	padding-bottom: 15px;
}

.transparent{
	opacity: 0.4;
}

.ui-icon{
	opacity: 1;	
}

.bold{
	font-weight: bold;	
}

.invisible{
	visibility: hidden;
}

.time{
	font-family: Arial;
	font-size: 10px;
	color: gray;
}

.ui-grid-a > .chatPic { width: 30% }
.ui-grid-a > .chatText { width: 70%; } 
