.splashImage{
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	/*background-color: rgb(246,246,246);*/
	width: 80%;
}

.topMargin{
	margin-top: 10%;
}

#welcomeLogo{
	width:100px;
	height:100px;
}

.homeBG{
	background-color: white;
}

.center{
	text-align: center;
}

.profilePic{
	margin-top: 10px;
	width:100px;
	height:100px;
}